.container-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.buttons-div {
    margin: auto;
    justify-content: space-between;
    display: flex;
    width: 350px;
}