<div class="container-div">

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email">
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" formControlName="password" type="password">
    </mat-form-field>

    <p>Complete the form to enable button.</p>
    <div class="buttons-div">
      <button type="submit" [disabled]="!signUpForm.valid" mat-raised-button color="primary">Register</button>
      <button type="button" routerLink="/login" mat-button color="secondary">Login</button>
    </div>

  </form>
</div>