<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Top News" class="text-center">
    <div class="md-padding"
      style="display: flex; justify-content: center; flex-direction: column; text-align: center; padding: 30px">
      <label>Select news category</label>
      <br />
      <mat-radio-group color="primary" (change)="handleChange($event)">
        <mat-radio-button value="world">
          world
        </mat-radio-button>
        <mat-radio-button value="science">
          science
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="selectedNewsCategory">displaying news for {{selectedNewsCategory}} category</div>
      <div class="stories-wrapper">
        <ng-container *ngFor="let story of stories">
          <mat-card *ngIf="story.title && story.abstract" class="card-style">
            <mat-card-header>
              <mat-card-subtitle> {{ story.item_type }} </mat-card-subtitle>
              <mat-card-title> {{ story.title }} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ story.abstract }}</p>
              <p>{{ story.published_date | date }}</p>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>

        <!-- <div *ngFor="let story of stories"> {{ story.abstract }} </div> -->
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Search For Articles">Content 2</mat-tab>
</mat-tab-group>