<div class="stories-wrapper">
    <ng-container *ngFor="let story of stories">
      <mat-card *ngIf="story.title && story.abstract" class="card-style">
        <mat-card-header>
          <mat-card-subtitle> {{ story.item_type }} </mat-card-subtitle>
          <mat-card-title> {{ story.title }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ story.abstract }}</p>
          <p>{{ story.published_date | date }}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="navigateToStoryDetails(story.uri)" mat-raised-button color="primary">Read More</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
